:root {
	--black-color:           #212121;
	--primary-color:         #96B6C5;
	--light-primary-color:   #ADC4CE;
	--secondary-color:       #EEE0C9;
	--light-secondary-color: #F8F0E5;
	--red-color:             #ED2B2A;
}
